<div class="container">
    <div class="nav">
        <router-link active-class="active" class="routerLink" to="/">Home</router-link>
        <router-link active-class="active" class="routerLink" to="/tab1">Tab 1</router-link>
        <router-link active-class="active" class="routerLink" to="/tab2">Tab 2</router-link>
        <router-link active-class="active" class="routerLink" to="/tab3">Tab 3</router-link>
        <router-link active-class="active" class="routerLink" to="/tab4">Tab 4</router-link>
        <router-link active-class="active" class="routerLink" to="/tab5">Tab 5</router-link>
    </div>
</div>